<h2><%= t('dashboard.future_events') %></h2>
<%=
if @future_events.any? then
  content_tag('ul') do
    content_tag_for('li', @future_events) do |future_event|
      render partial: "dashboard/future_event", locals: {future_event: future_event}
    end
  end
else
  content_tag('p') do
    t('dashboard.no_future_events')
  end
end
%>
