<h2><%= t('dashboard.future_events') %></h2>
<%=
if events.any? then
  content_tag('ul') do
    content_tag_for('li', events) do |event|
      render partial: "dashboard/future_event", locals: {event: event}
    end
  end
else
  content_tag('p') do
    t('dashboard.no_future_events')
  end
end
%>
