<h2><%= t('dashboard.registrations') %></h2>
<%=
if user.registrations.any? then
  content_tag('ul') do
    content_tag_for('li', user.registrations) do |registration|
      render partial: "dashboard/registration", locals: {registration: registration}
    end
  end
else
  content_tag('p') do
    t('dashboard.no_registrations')
  end
end
%>
