<h1><%= t('dashboard.name') %></h1>

<%= render partial: 'future_events', locals: { events: @future_events } %>

<% if @current_user %>
  <%= render partial: 'registrations', locals: { user: @current_user } %>
<% end %>
