<h1><%= t('common.page_header.editing', model: Registration.model_name.human).capitalize %></h1>

<%= render partial: 'form', locals: {registration: @registration} %>

<%= link_to t('common.show'), @registration %> |
<%= link_to t('common.back'), registrations_path %>
